{{ form_start(registrationForm) }}
<div class="errors">
	{{ form_errors(registrationForm) }}
</div>
<fieldset>
	{{ form_errors(registrationForm.email)}}
	{{ form_label(registrationForm.email)}}
	{{ form_widget(registrationForm.email)}}
	{{ form_help(registrationForm.email)}}
	{{ form_errors(registrationForm.firstName)}}
	{{ form_label(registrationForm.firstName)}}
	{{ form_widget(registrationForm.firstName)}}
	{{ form_help(registrationForm.firstName)}}
	{{ form_errors(registrationForm.plainPassword)}}
	{{ form_label(registrationForm.plainPassword)}}
	{{ form_widget(registrationForm.plainPassword)}}
	{{ form_help(registrationForm.plainPassword)}}
	{{ form_row(registrationForm.agreeTerms) }}
</fieldset>
<button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(registrationForm) }}
