{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	<h1>Liste des catégories</h1>
	<a href="{{ path('app_category_new') }}">Créer une catégorie</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.name }}</td>
					<td>
						<a href="{{ path('app_category_show', {categoryName: category.name}) }}">Voir</a>
						<a href="{{ path('app_category_edit', {categoryName: category.name}) }}">Modifier</a>
						{{ include('category/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucune catégorie trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
