{% extends 'base.html.twig' %}

{% block title %}Catégorie
	{{ category.name }}
{% endblock %}

{% block body %}
	{{ category.name }}
	{% for program in programsByCategory %}
		<div>
			<li>Catégorie id :
				{{ category.id }}</li>
			<li>Série id :
				{{ program.id }}</li>
			<li>
				<a href="{{ path('app_program_show', { slug: program.slug}) }}">{{ program.title }}</a>
			</li>
			<p>{{ program.synopsis }}</p>
		</div>
	{% else %}
		<p>Aucune série trouvée</p>
	{% endfor %}

	<a href="{{ path('app_category_index') }}">
		Retour à la liste des catégories
	</a>
{% endblock %}
