{% extends 'base.html.twig' %}

{% block title %}Liste des épisodes
{% endblock %}

{% block body %}
	<h1>Liste des épisodes</h1>
	<a href="{{ path('app_episode_new') }}">Créer un épisode</a>

	{% set count = 0 %}
	{% for episode in episodes %}
		{% set count = count + 1 %}
	{% endfor %}

	<div>Nombre d'épisodes :
		{{ count }}</div>

	<table class="table">
		<thead>
			<tr>
				<th>Série</th>
				<th>Id</th>
				<th>Titre</th>
				<th>Numéro</th>
				<th>Synopsis</th>
				<th>Durée</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for episode in episodes %}
				<tr>
					<td>{{ episode.season.program.title }}</td>
					<td>{{ episode.id }}</td>
					<td>{{ episode.title }}</td>
					<td>{{ episode.number }}</td>
					<td>{{ episode.synopsis }}</td>
					<td>{{ episode.duration }}</td>
					<td>
						<a href="{{ path('app_episode_show', {'id': episode.id}) }}">Voir</a>
						<a href="{{ path('app_episode_edit', {'id': episode.id}) }}">Modifier</a>
						{{ include('episode/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun épisode trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
