{% extends 'base.html.twig' %}

{% block title %}Episode #
	{{ episode.number }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">
				Titre de l'épisode :
				{{ episode.title }}</h1>
			<p>Episode #
				{{ episode.number }}
				de la saison
				{{ season.number }}
				de la série
				{{ program.title }}
				({{ season.year }})</p>
			<p>
				<b>Résumé de la série :</b>
				{{ program.synopsis }}</p>
			<p>
				<b>Description de la saison :</b>
				{{ season.description }}
			</p>
			<p>
				<b>Description de l'épisode :</b>
				{{ episode.synopsis }}
			</p>
		</div>
	</div>

	<a href="{{ path('app_episode_edit', { episodeSlug: episode.slug }) }}">Modifier</a>
	<a href="{{ path('app_program_season_show', { programSlug: program.slug, season: season.id }) }}">
		Retour à la page de la saison
	</a>
{% endblock %}
