{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<a href="{{ path('program_new') }}">Créer une série</a>
	<h1>Toutes les séries :
	</h1>
	{% for program in programs %}
		<div>
			<h2>{{ loop.index }}
				/
																								Titre de la série :
				<a href="{{ path('program_show', { program: program.id}) }}">
					{{ program.title }}</a>
				- Catégorie :
				{{ program.category.name }}</h2>
			<p>Synopsis de la série :
				{{ program.synopsis }}</p>
		</div>
	{% else %}
		<p>Aucune série trouvée</p>
	{% endfor %}
	<a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}
