{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Série
	{{ program.title }}
	- Saison #
	{{ season.number }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">Saison
				{{ season.number }}
				de la série
				{{ program.title }}
				({{ season.year }})</h1>
			<p>Résumé de la série :
				{{ program.synopsis }}</p>
			<p>Description de la saison :
				{{ season.description }}
			</p>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Catégorie série</th>
				<th>Titre épisode</th>
				<th>Numéro épisode</th>
				<th>Synopsis épisode</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for episode in episodes %}
				<tr>
					<td>{{ program.category.name }}</td>
					<td>{{ episode.title }}</td>
					<td>{{ episode.number }}</td>
					<td>{{ episode.synopsis }}</td>
					<td>
						<a href="{{ path('app_program_episode_show', { programSlug: program.slug, season: season.id, episodeSlug: episode.slug }) }}">Voir</a>
						<a href="{{ path('app_episode_edit', { 'id': episode.id }) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<p>Aucun épisode trouvé</p>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_program_show', { programSlug: program.slug }) }}">
		Retour à la page de la série
	</a>
{% endblock %}
