{% extends 'base.html.twig' %}

{% block title %}Série
	{{ program.title }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">Titre de la série :
				{{ program.title }}</h1>
			<p>Synopsis de la série :
				{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}
			</p>
			{% for season in program.seasons %}
				<li>
					<a href="{{ path('program_season_show', { program: program.id, season: season.id }) }}">
						Saison #{{ season.number }}
					</a>
				</li>
			{% else %}
				<p>Aucune saison trouvée</p>
			{% endfor %}
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
