<!DOCTYPE html>
<html>
	<head>
		{% set page_title = "Wild Series" %}
		{% set page_description = "Un site avec des séries, des saisons et des acteurs, qui sert de fil rouge pour ma progression de l'apprentissage du framework Symfony" %}
		{% set robots = "index, follow" %}
		{% set page_url = "https://localhost:8000/" %}
		{% set site_name = "Wild Series" %}

		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
			<meta name="author" content="VinchC">
			<meta http-equiv="refresh" content="120">
			<meta name="description" content="{{ page_description }}">
			<meta name="robots" content="{{ robots }}">

			<title>
				{% block title %}
					{{ page_title }}
				{% endblock %}
			</title>

			{% block metaproperty %}
				<meta property="og:title" content="{{ page_title }}">
				<meta property="og:description" content=" {{ page_description }} ">
				<meta property="og:locale" content="fr_FR"/>
				<meta property="og:type" content="video.tv_show">
				<meta property="og:image">
				<meta property="og:url" content=" {{ page_url }} ">
				<meta property="og:site_name" content=" {{ site_name }} ">
			{% endblock %}

			<link rel="icon" href="{{ asset('./build/images/favicon.jpg') }}" alt="favicon"/>

			{% block stylesheets %}
				{{ encore_entry_link_tags('app') }}
			{% endblock %}

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	{# <img src="{{ asset('build/path_to_image.png') }}" alt=""/> #}

	<body {{ stimulus_controller('theme') }} {{ stimulus_target('theme', 'body') }}>
		<header>
			{% block navbar %}
				{{ include('./navbar/_navbar.html.twig') }}
			{% endblock %}
		</header>
		<main>
			{# {{ app.session.get('total') }} #}
			{% for category, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			{% block body %}
				{% block content %}{% endblock %}
			{% endblock %}
		</main>
		{% block footer %}
			{{ include('partials/_footer.html.twig') }}
		{% endblock %}
	</body>
</html>
