{% extends 'base.html.twig' %}

{% block title %}Wild Series
	{{ welcome }}
{% endblock %}

{% block body %}
	<h1>{{ welcome }}
		{% if app.user %}
			{{ app.user.firstname }}
		{% endif %}
	</h1>
	<h2>To do list</h2>
	<ul>
		<li>Sécuriser toutes les routes</li>
		<li>Mettre des images de séries via les Fixtures</li>
		<li>Page 404 stylée</li>
		<li>Card Program avec CSS</li>
	</ul>
	<img src="{{ asset('build/path_to_image.png') }}" alt=""/>
	{% for program in programs %}
		{# {% for program in programs|reverse|slice(0, 3) %} #}
		<ul>
			<li>{{ program.id }}</li>
			<li><img class="align-self-start mr-3" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster"></li>
			<li>
				<a href="{{ path('app_program_show', { programSlug: program.slug}) }}">{{ program.title }}</a>
			</li>
			<li>{{ program.category.name }}</li>
		</ul>
	{% endfor %}
{% endblock %}
