{% extends 'base.html.twig' %}

{% block title %}Wild Series
	{{ welcome }}
{% endblock %}

{% block body %}
	<p>{{ welcome }}
		{% if app.user %}
			{{ app.user.firstname }}
		{% endif %}
	</p>
	{{ component('ProgramSearch') }}

	<ul>
		<div class="p-3" style="font-size: 1.3em;">
			<span {{ stimulus_controller('symfony/ux-typed', { strings: [ "The government's responsible...", "Freedom is a road seldom travelled by the multitude", "The counterattack on world supremacy", "Justice evolves only after injustice is defeated", "There is no future without a past", "What side you on", "The game behind the game", "The millenium for many is the wall"], smartBackspace: true, startDelay: 100, backSpeed: 20, backDelay: 100, loop: true,showCursor: true, cursorChar: '✨' } ) }}></span>
		</div>
	</ul>
	{{ component('LastProgram', {numPrograms: 4}) }}
{% endblock %}
