<div{{attributes}}>
	{% for program in this.lastprograms %}
		<ul id="programCard">
			<li>{{ program.posterFile }}
			</li>
			<li>
				<a href="{{ path('app_program_show', {programSlug: program.slug}) }}">{{ program.title }}</a>
			</li>
			<li>{{ program.synopsis }}
			</li>
		</ul>
	{% endfor %}
</div>
