<div{{attributes}}>
	<div class="mb-3">
		<label class="form-label" for="search">
			Rechercher une série :
		</label>
		<input type="search" id="search" class="form-control" value="{{ query }}" data-model="query">
	</div>
	{% for program in this.programs %}
		<div>
			<h2 class="mt-4">
				{{ program.title }}
				- Catégorie :
				{{ program.category.name }}</h2>
			<p>{{ program.synopsis }}</p>
			<a href="{{ path("app_program_show", { programSlug: program.slug }) }}">Cliquez !</a>
		</div>
	{% endfor %}
</div>
