{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mon compte
{% endblock %}

{% block body %}
	<h1>Bienvenue
		{{ app.user.firstname }}
	</h1>

	{{ user.roles|format_args }}
	{{ user.roles|format_args_as_text }}
	<p>{{ user.firstname }}</p>
	<p>{{ user.email }}</p>
	<p>
		{% for comment in user.comments %}
			<ul>
				<li>{{ comment.content}}
				</li>
			</ul>
		{% endfor %}
	</p>
	<p>
		{% for program in user.programs %}
			<ul>
				<li>{{ program.title}}
				</li>
			</ul>
		{% endfor %}
	</p>
{% endblock %}
